.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  text-align: center;
  align-self: center;
  text-align: left;
}
.sobre {
  color: white;
  max-width: 75%;
  text-align: justify;
}
.pixel {
  max-width: 150px;
}

.titulo {
  display: flex;
  font-size: 45px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  text-align: center;
  align-self: center;
  text-align: center;
}
.about::-webkit-scrollbar {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap");
