.body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  width: 100%;
}

.perfil_nome {
  flex: 0.2;
  font-size: 2em;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.3em;
  align-self: center;
}

.subtitle {
  flex: 0.2;
  font-size: 1.2em;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  text-align: center;
  align-self: center;
}

.perfil_foto {
  flex: 0.4;
  align-self: center;
  border-radius: 200px;
  border: #fdfdfd solid;
  max-width: 250px;
  object-fit: contain;
  box-shadow: 5px 5px 50px black;
}

.perfil_texto {
  flex: 0.2;
  font-size: 18px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  text-align: center;
  align-self: center;
  text-align: left;
  max-width: 500px;
}

@media only screen and (max-width) {
  .subtitle {
    font-size: 0.5em;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap");
