.sidebar {
  flex: 0.25;
  height: 100vh;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
}

.perfil_foto {
  border-radius: 100px;
  border: #fdfdfd solid;
  max-height: 30%;
}

.perfil_nome {
  font-size: x-large;
}

.sidebar > hr {
  border: 1px solid #fdfdfd;
  width: 90%;
  margin: 10px auto;
}
